@font-face {
    font-family: 'Monocraft';
    src: url('Monocraft.ttf');
}

@font-face {
    font-family: 'Fairfax';
    src: url('Fairfax.ttf');
}

body {
    background: radial-gradient(circle, #201e19, #151511);
    margin: 50px;
}

h1 {
    font-family: 'Monocraft';
    font-size: 50px;
    color: #5b8852;
}

a {
    font-family: 'Fairfax';
    font-size: 25px;
    color: #44613e;
}